.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container a {
  text-decoration: underline;
  font-size: 2.0em;
  padding: 12px;
}

.container a:hover {
  color: beige;
}